.scan-report-list .cvesearchcenter { padding-left:0px !important;padding-right:0px !important;}
.scan-report-list .cvesearchcenter .MuiPaper-root{padding-left:0px !important;padding-right:0px !important;}
.scan-report-list .cvesearchleft .MuiTypography-h3 {font-size: 18px;font-weight: 600;color: #333333;letter-spacing: 0.5px;}

.scan-report-list .cvesearchcenter .MuiTableCell-root,.cvesearchcenter .MuiTypography-h5{ font-weight: 700; font-size: 14px;color: #333333;text-transform: capitalize;border: 0;}
.scan-report-list .cvesearchcenter .MuiTableCell-stickyHeader{background: #e8ebf0;}

.scan-report-list .cvesearchcenter .MuiTableCell-root a .MuiSvgIcon-root{vertical-align: middle;}
.scan-report-list .cvesearchcenter .MuiTableCell-root a{color: #027de7;text-decoration: none;}

.cvesearchcenter .MuiTableCell-root.MuiTableCell-body:nth-child(3) {
    width: 40%;
    word-break: break-all;
}
.scan-report-list .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover{background: #027ae2}
.scan-report-list .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover .MuiTableCell-root,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover .MuiTypography-h5,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover .MuiTypography-h6,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover .MuiTableCell-root a,
.scan-report-list .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover.Mui-selected .MuiTableCell-root,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover.Mui-selected .MuiTypography-h5,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover.Mui-selected .MuiTypography-h6,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover.Mui-selected .MuiTableCell-root a{color: #fff;}

.scan-report-list .cvesearchcenter .MuiPagination-root{margin: 30px 0;}

.scan-report-list .cvesearchcenter .MuiPagination-root ul{display: inline-block;width: 100%; text-align: center;}

.scan-report-list .cvesearchcenter .MuiPagination-root ul li{display: inline-block;}


.scan-report-list .boxdetailhead .boxtitlecontent .meter{display: flex;margin-bottom: -55px;}

.scan-report-list .cvesearchleft .boxleftheader > div{margin-bottom: 15px;}
.scan-report-list .cvesearchremote .cvesearchremote-inner{box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 2px 0 rgba(63,63,68,0.15);border-radius: 6px;padding: 15px 24px;}
.scan-report-list .cvesearchremote .MuiListItem-gutters{padding: 0px 0 10px 0;}
.scan-report-list .cvesearchremote-inner .MuiListItemText-root{margin: 0;}
.scan-report-list .cvesearchleft .MuiListItem-root .MuiListItemText-root .MuiTypography-body1{font-size: 18px; font-weight: 600;color: #333;}


.scan-report-list .cvesearchright-inner{background: #fff;padding: 15px;box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 2px 0 rgba(63,63,68,0.15);}
.scan-report-list .cvesearchtopheader{background: #fff;padding: 15px;box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 2px 0 rgba(63,63,68,0.15);}

.scan-report-list .cvesearchright-inner > div{background: #f4f6fa;border-radius: 10px;margin-bottom: 15px;}
.scan-report-list .boxdetailtitle{padding: 10px 10px;border-radius: 10px 10px 0px 0px;background: #e8edf5; }
.scan-report-list .boxdetailtitle h2{margin: 0; color: #027ae2;font-weight: 600;font-size: 18px; text-align: center;}

.scan-report-list .cvesearchright-inner .boxtitlecontent > div{padding:0px 15px;margin-bottom: 15px;}

.scan-report-list .scoreblock-div{display: flex;}
.scan-report-list .scoreblock {padding:0 5px;}
.scan-report-list .scoreblock-inner{display: table;width: 100%;height: 30px;border-radius: 5px;background: #fff;  }
.scan-report-list .scoreblock-inner > div{display: block; vertical-align: middle;padding: 5px;font-size: 14px; font-weight: 600; text-align: center;}
.scan-report-list .scoretitle{border: 1px solid #d0d8e5;border-radius: 3px 0 0 3px; color: #333;}

.scan-report-list .scorevalue{color: #fff;border-radius: 0px 3px 3px 0px;border-right: 1px solid #d0d8e5;border-bottom:1px solid #d0d8e5;border-top:1px solid #d0d8e5;}

.scan-report-list .meterleft h2{font-size: 16px;font-weight: 600;margin-bottom: 10px;}
.scan-report-list .meterleft h2 a{text-decoration: none;color: #e43838} 

.scan-report-list .boxtitlecontent .insightlist .MuiListItem-gutters{padding: 0px 0 15px 0;}
.scan-report-list .boxtitlecontent .insightlist .MuiListItem-gutters:last-child{padding-bottom: 0;}
.scan-report-list .boxtitlecontent .insightlist .MuiListItem-gutters .MuiSvgIcon-root{color: #333;}
.scan-report-list .insightlist .MuiTypography-displayBlock{font-size: 17px;color: #333;font-weight: 600;}

.scan-report-list .loading-cell{padding: 10px;}
.scan-report-list .boxtitlecontent .snapshotlist .MuiListItem-gutters{padding: 0px 0 3px 0;;}
.scan-report-list .snapshotlist .MuiTypography-root > div{width: 100%;font-size: 17px; color: #333;font-weight: 600;display: inline-block;vertical-align: top;}

.scan-report-list .snapshotlist .MuiTypography-root > div.MuiBox-root-102,.snapshotlist .MuiTypography-root > div.MuiBox-root-103{width: 100%;}
.scan-report-list .snapshotlist .MuiTypography-root > div a{color: }

.scan-report-list .boxtitlecontent.explo-list{padding: 10px 15px;}
.scan-report-list .boxtitlecontent.explo-list .MuiExpansionPanelSummary-content h2{font-size: 17px;font-weight: 600;}
.scan-report-list .boxtitlecontent.explo-list .MuiExpansionPanelDetails-root .MuiTypography-root a{padding-bottom: 10px;word-break: break-all;}
.scan-report-list .cveresult .Mui-selected {
	background-color: #027ae2;
	color: #fff;
}

.scan-report-list .cvesearchcenter .MuiTypography-h6{font-size: 13px;}
.scan-report-list .cvesearchcenter .MuiTableRow-root {
	cursor: pointer;
}
.scan-report-list .cveresult .MuiTableContainer-root{overflow: visible;}
.scan-report-list .cveresult .Mui-selected,.cveresult tr.Mui-selected,.cveresult tr.Mui-selected td:last-child{position: relative;}
.scan-report-list .cveresult tr.Mui-selected td:last-child::after{position: absolute;content: "";width: 31px;height: 60px;right: -24px;top: 0;bottom: 0;margin: auto; width: 0; height: 0;border-top: 18px solid transparent;border-bottom: 18px solid transparent;border-right: 22px solid #027ae2;}
.scan-report-list .snapshot-content.description{
width:100% !important;
}



.scan-report-list .scoreblock-severity-div .scoreblock,.scoreblock-vulnerabilities-div .scoreblock{float:left;margin: 0 0px;}
.scan-report-list .snapshot-title { margin-bottom: 5px; }
/*.scoreblock-severity-div .scoreblock:nth-child(1) .scoretitle { background: #980000;}
.scoreblock-severity-div .scoreblock:nth-child(2) .scoretitle { background: #FF9900;}
.scoreblock-severity-div .scoreblock:nth-child(3) .scoretitle { background: #56742C;}
.scoreblock-severity-div .scoretitle { color:#fff;}
.scoreblock-severity-div .scorevalue {background: #fff;color:#000;}
.scoreblock-severity-div .scoreblock-inner{ border: 1px solid grey;}*/

.scan-report-list .small-table .MuiTableCell-body, .big-table .MuiTableCell-body { white-space: pre-line;} 

.scan-report-list table.small-table tr th:nth-child(n+4) {
	display: none;
}
.scan-report-list table.small-table tr td:nth-child(n+4) {
	display: none;
}
.scan-report-list table.small-table tr th:nth-child(8) {
	display: block;
}
.scan-report-list table.small-table tr td:nth-child(8) {
	display: block;
}

.scan-report-list .scoreblock-vulnerabilities-div div {
	margin: 0px !important;
}

.scan-report-list .small-table,.big-table{
	background: #fff;
}  

.scan-report-list .cveresult .cvesearchleft{padding-left: 0;padding-right: 0;}


.scan-report-list .cveresult .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover{background: #F6F8FA;}
.scan-report-list .cveresult table tr th,.scan-report-list .cveresult table tr td{font-size: 15px !important;font-weight: 500 !important;padding: 10px 20px !important;border-bottom: 1px solid #e1e4e8 !important;}
.scan-report-list .cveresult table tr td h5{font-size: 15px !important;font-weight: 500 !important;color: #000}
.scan-report-list .cveresult .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover .MuiTypography-h5{color: #000;}
.scan-report-list .cveresult .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover .MuiTableCell-root{color: #263238;}
.scan-report-list .cveresult .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover.Mui-selected .MuiTableCell-root{background: #f6f8fa;color: #263238;}
.scan-report-list .cveresult .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover.Mui-selected .MuiTypography-h5{color: #263238;}

.scan-report-list .cveresult .cvesearchcenter .MuiTableCell-stickyHeader{border-bottom: 1px solid #e1e4e8 !important;background: none;font-weight: 600 !important;background: #f6f8fa;}
.scan-report-list .cveresult table tr td:last-child{width: 35%;}
.scan-report-list .cveresult .scoreblock-vulnerabilities-div > div{padding: 0 0 0 5px }
.scan-report-list .cveresult .scoreblock-vulnerabilities-div{display: flex;justify-content: end;}
.scan-report-list .cveresult table tr td .scoreblock-vulnerabilities-div .scoreblock-inner{border: 1px solid;border-radius: 5px; }
.scan-report-list .cveresult table tr td .scoreblock-vulnerabilities-div .scoreblock-inner > div{min-height: 22px;font-size: 12px;padding: 3px 5px;border: 0;}
.scan-report-list .cveresult table tr td .scoreblock-vulnerabilities-div .CRITICAL .scoreblock-inner{border-color: rgb(185, 0, 0); }
.scan-report-list .cveresult table tr td .scoreblock-vulnerabilities-div .HIGH .scoreblock-inner{border-color: red }
.scan-report-list .cveresult table tr td .scoreblock-vulnerabilities-div .LOW .scoreblock-inner{border-color: green }
.scan-report-list .cveresult table tr td .scoreblock-vulnerabilities-div .MEDIUM .scoreblock-inner{border-color:rgb(239, 148, 36); }
 
.scan-report-list .scoreblock-vulnerabilities-div .CRITICAL .scoreblock-inner{border-color: rgb(185, 0, 0); }
.scan-report-list .scoreblock-vulnerabilities-div .HIGH .scoreblock-inner{border-color: red }
.scan-report-list .scoreblock-vulnerabilities-div .LOW .scoreblock-inner{border-color: green }
.scan-report-list .scoreblock-vulnerabilities-div .MEDIUM .scoreblock-inner{border-color:rgb(239, 148, 36); }


.scan-report-list .snapshot-content.data-block > .snapshot-block{display: flex;column-gap: normal;padding-bottom: 5px;margin-bottom: 10px;border-bottom: 1px solid #e8edf5;}
.scan-report-list .cvesearchright.MuiGrid-grid-md-4{padding-right: 0; }
.scan-report-list .cvesearchright .snapshotlist .MuiTypography-root .date-block{display: flex;column-gap: normal;padding-bottom: 5px;margin-bottom: 10px;border-bottom: 1px solid #e8edf5;}
.scan-report-list .cvesearchright .date-block .snapshot-title,.cvesearchright .date-block .snapshot-content{max-width: 50%;flex-basis: 50%; align-self: center; font-size: 15px;}
.scan-report-list .cvesearchright .date-block .snapshot-title{color: #185d98;}
.scan-report-list .cvesearchright .date-block .snapshot-content{justify-content: end;display: flex;}
.scan-report-list .snapshot-content.data-block > .snapshot-block > div.snapshot-title{max-width: 80%;flex-basis: 80%; align-self: center; font-size: 15px;color: #185d98;}
.scan-report-list .snapshot-content.data-block > .snapshot-block > div.snapshot-content{max-width: 20%;flex-basis: 20%;align-self: center;justify-content: end;display: flex;}

.scan-report-list .cvesearchright .boxtitlecontent ul.snapshotlist{width: 100%;}
.scan-report-list .cveresult .snapshot-content .scoreblock-severity-div,.cveresult .snapshot-content .scoreblock-vulnerabilities-div{justify-content: center;display: flex;}


.scan-report-list .cveresult .snapshot-content .scoreblock-severity-div .scoreblock.MuiGrid-grid-xs-3{max-width: 33.33%;flex-basis: 33.33%;}
.scan-report-list .cveresult .snapshot-content .scoreblock-vulnerabilities-div .scoreblock.MuiGrid-grid-xs-3{max-width: 33.33%;flex-basis: 33.33%;}
.scan-report-list .cvesearchright .scoreblock-vulnerabilities-div,.cvesearchright .scoreblock{padding: 0 5px}
.scan-report-list .cvesearchright .scoreblock-inner{padding:0 0px;border: 1px solid;}
.scan-report-list .cvesearchright .scoreblock-inner > div{font-size: 12px;border: 0;}

.scan-report-list .cvesearchright .view-report-btn{text-align: center;margin-top: 15px;}
.scan-report-list .cvesearchright .view-report-btn a{background: #185d98;text-decoration: none;display: inline-block;padding: 12px 20px;color: #fff;border: 2px solid #185d98; line-height: 1}
.scan-report-list .cvesearchright .view-report-btn a:hover{background: none;color: #185d98;}


.scan-report-list .cvesearchright-inner > [class*='MuiBox-root']:last-child .snapshotlist li span.MuiListItemText-primary{display: flex;column-gap: normal;padding-bottom: 5px;margin-bottom: 10px;border-bottom: 1px solid #e8edf5;}
.scan-report-list .cvesearchright-inner > [class*='MuiBox-root']:last-child .snapshotlist li span.MuiListItemText-primary > .snapshot-title{max-width: 70%;flex-basis: 70%; align-self: center; font-size: 15px;color: #185d98 }

.scan-report-list .cvesearchright-inner > [class*='MuiBox-root']:last-child .snapshotlist li span.MuiListItemText-primary > .snapshot-content{max-width: 30%;flex-basis: 30%; align-self: center; font-size: 15px;word-break: break-all;}

.scan-report-list .MuiContainer-root > .MuiGrid-container{box-shadow: 4px 0px 54px rgba(0,0,0,0.1);padding: 0px 0px;border-radius: 5px;}
.scan-report-list .MuiContainer-root > .MuiGrid-container > .MuiContainer-root{max-width: 100%;box-shadow: none;border-radius: 0;padding: 35px;}

.scan-report-list [class*='makeStyles-searchBox'] {max-width: 100%;border-radius: 5px;box-shadow: none;}
.scan-report-list .MuiInput-formControl.MuiInput-underline::before,.scan-report-list .MuiInput-formControl.MuiInput-underline::after {display: none;}
.scan-report-list .MuiInput-formControl input.MuiInputBase-input{height: 30px;font-weight: 500;font-size: 14px;}
.scan-report-list [class*='makeStyles-searchButton']{border-radius: 10px; }
.scan-report-list [class*='makeStyles-chipbar'] > .MuiGrid-container{border: 1px solid #e8e8f2;border-radius: 5px;margin-bottom:30px;}
.scan-report-list ul li .MuiChip-deletable{background: #556177;border-radius: 5px; }

.scan-report-list [class*='makeStyles-chip'] {border-radius: 5px;}

/*.scan-report-list .search-criteria [class*='makeStyles-chip'] {background: #FF9F00}*/

.projectdetails-div .Name {font-size: 15px;font-weight: bold;}

@media only screen and (min-width:1700px){

.scan-report-list .cvesearchcenter .MuiTableCell-root{padding: 15px}
.scan-report-list td.MuiTableCell-root.MuiTableCell-body.loading-cell {
    padding: 0px 5px;
}
.scan-report-list .cvesearchcenter .MuiTableCell-root,.cvesearchcenter .MuiTypography-h5{  font-size: 15px; }

.scan-report-list .scoreblock-inner > div{font-size: 16px;}

}

@media only screen and (max-width:1400px){

.scan-report-list .cvesearchcenter .MuiTableCell-root{padding: 12px 10px;font-size: 13px;}

.scan-report-list .cvesearchcenter .MuiTypography-h5{font-size: 13px;}

.scan-report-list .cvesearchleft .MuiTypography-h3,.boxdetailtitle h2{font-size: 16px;}

.scan-report-list .cvesearchleft .MuiListItem-root .MuiListItemText-root .MuiTypography-body1{font-size: 16px;}
.scan-report-list .meterleft h2,.insightlist .MuiTypography-displayBlock,.snapshotlist .MuiTypography-root > div,.boxtitlecontent.explo-list .MuiExpansionPanelSummary-content h2{font-size: 14px;}
.scan-report-list .MuiExpansionPanelSummary-root{padding: 0px 15px;}
.scan-report-list .scoreblock-inner > div{font-size: 12px;}

}