.makeStyles-product-51{
    margin: 0px !important;
}
.break-content{
    word-break: break-word;
}
.flex-contents{
    margin-right: 15px;
}
#PricingView > div > .MuiContainer-maxWidthLg{
    max-width: none;
}
.right-content{
    max-height: 75px;
}