
.sub-div{
    display: flex;
}

.flex-contents-select{
    margin-right: 15px;
    margin-left: 15px;
}
.flex-contents{
    margin-right: 5px;
}

.select-groups{
    margin-bottom: 10px;
    margin-top: 10px;
}

.css-140puxv-MuiTypography-root-MuiDialogTitle-root{
    display: none;
}

.flex-contents-domain{
    margin-bottom: 5px;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
}
.hasError{
    font-size: medium;
    color: red;
    font-weight: 300;
    margin-right: 100px;
}
.noError{
    font-size: medium;
    color: green;
    font-weight: 300;
    margin-right: 100px;
}
.single-select{
    margin-top: 15px;
}
.section-title{
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 10px;
}
.section-contents{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 15px;
}
.section-contents-input{
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 15px;
}
.flex-contents-allow{
    margin-top: 15px;
    margin-left: 15px;
}
.domain{
    margin-left: 10px;
}