

.vuldb-login .cvesearchslider {
	width: 300px;
}
.vuldb-login .topSearch.MuiContainer-maxWidthLg{max-width: 1400px;}


.vuldb-login .topSearch .MuiInput-underline:before{display: none;}


.vuldb-login .topSearch .MuiInputBase-input{font-size: 14px;color: #000 !important;}

.vuldb-login .cvesearchleft .MuiTypography-h3 {font-size: 18px;font-weight: 600;color: #333333;letter-spacing: 0.5px;}


.vuldb-login .cvesearchcenter .MuiTableCell-root,.cvesearchcenter .MuiTypography-h5{ font-weight: 700; font-size: 14px;color: #333333;text-transform: capitalize;border: 0;}
.vuldb-login .cvesearchcenter .MuiTableCell-stickyHeader{background: #e8ebf0;}

.vuldb-login .cvesearchcenter .MuiTableCell-root a .MuiSvgIcon-root{vertical-align: middle;}
.vuldb-login .cvesearchcenter .MuiTableCell-root a{color: #027de7;text-decoration: none;}


.vuldb-login .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover{background: #027ae2}
.vuldb-login .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover .MuiTableCell-root,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover .MuiTypography-h5,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover .MuiTypography-h6,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover:hover .MuiTableCell-root a,
.vuldb-login .cvesearchcenter .MuiTableRow-root.MuiTableRow-hover.Mui-selected .MuiTableCell-root,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover.Mui-selected .MuiTypography-h5,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover.Mui-selected .MuiTypography-h6,.cvesearchcenter .MuiTableRow-root.MuiTableRow-hover.Mui-selected .MuiTableCell-root a{color: #fff;}

.vuldb-login .cvesearchcenter .MuiPagination-root{margin: 30px 0;}

.vuldb-login .cvesearchcenter .MuiPagination-root ul{display: inline-block;width: 100%; text-align: center;}

.vuldb-login .cvesearchcenter .MuiPagination-root ul li{display: inline-block;}


.vuldb-login .boxdetailhead .boxtitlecontent .niahmeter{display: flex;margin-bottom: -55px;}

.vuldb-login .cvesearchleft .boxleftheader > div{margin-bottom: 15px;}
.vuldb-login .cvesearchremote .cvesearchremote-inner{box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 2px 0 rgba(63,63,68,0.15);border-radius: 6px;padding: 15px 24px;}
.vuldb-login .cvesearchremote .MuiListItem-gutters{padding: 0px 0 10px 0;}
.vuldb-login .cvesearchremote-inner .MuiListItemText-root{margin: 0;}
.vuldb-login .cvesearchleft .MuiListItem-root .MuiListItemText-root .MuiTypography-body1{font-size: 18px; font-weight: 600;color: #333;}


.vuldb-login .cvesearchright-inner{background: #fff;padding: 15px;box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 2px 0 rgba(63,63,68,0.15);}
.vuldb-login .cvesearchtopheader{background: #fff;padding: 15px;box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 2px 0 rgba(63,63,68,0.15);}

.vuldb-login .cvesearchright-inner > div{background: #f4f6fa;border-radius: 10px;margin-bottom: 15px;}
.vuldb-login .boxdetailtitle{padding: 10px 10px;border-radius: 10px 10px 0px 0px;background: #e8edf5; }
.vuldb-login .boxdetailtitle h2{margin: 0; color: #027ae2;font-weight: 600;font-size: 18px; text-align: center;}

.vuldb-login .cvesearchright-inner .boxtitlecontent > div{padding:23px 15px;margin-bottom: 15px;}
.vuldb-login .cvesearchright-inner .boxtitlecontent > div.scoreblock-div{border-bottom: 1px solid #dde4ee;}
.vuldb-login .scoreblock-div{display: flex;}
.vuldb-login .scoreblock {padding:0 5px;}
.vuldb-login .scoreblock-inner{display: table;width: 100%;height: 45px;border-radius: 5px;background: #fff;  }
.vuldb-login .scoreblock-inner > div{display: table-cell; vertical-align: middle;padding: 5px;font-size: 14px; font-weight: 600; text-align: center;}
.vuldb-login .scoretitle{border: 1px solid #d0d8e5;border-radius: 3px 0 0 3px; color: #333;}
.vuldb-login .scorevalue{background: #027ae2; color: #fff;border-radius: 0px 3px 3px 0px;}

.vuldb-login .niahmeterleft h2{font-size: 16px;font-weight: 600;margin-bottom: 10px;}
.vuldb-login .niahmeterleft h2 a{text-decoration: none;color: #e43838} 

.vuldb-login .boxtitlecontent .niahinsightlist .MuiListItem-gutters{padding: 0px 0 15px 0;}
.vuldb-login .boxtitlecontent .niahinsightlist .MuiListItem-gutters:last-child{padding-bottom: 0;}
.vuldb-login .boxtitlecontent .niahinsightlist .MuiListItem-gutters .MuiSvgIcon-root{color: #333;}
.vuldb-login .niahinsightlist .MuiTypography-displayBlock{font-size: 17px;color: #333;font-weight: 600;}

.vuldb-login .loading-cell{padding: 10px;}
.vuldb-login .boxtitlecontent .snapshotlist .MuiListItem-gutters{padding: 0px 0 15px 0;;}
.vuldb-login .snapshotlist .MuiTypography-root > div{width: 50%;font-size: 17px; color: #333;font-weight: 600;display: inline-block;vertical-align: top;}

.vuldb-login .snapshotlist .MuiTypography-root > div.MuiBox-root-102,.snapshotlist .MuiTypography-root > div.MuiBox-root-103{width: 100%;}
.vuldb-login .snapshotlist .MuiTypography-root > div a{color: }

.vuldb-login .boxtitlecontent.explo-list{padding: 10px 15px;}
.vuldb-login .boxtitlecontent.explo-list .MuiExpansionPanelSummary-content h2{font-size: 17px;font-weight: 600;}
.vuldb-login .boxtitlecontent.explo-list .MuiExpansionPanelDetails-root .MuiTypography-root a{padding-bottom: 10px;word-break: break-all;}
.vuldb-login .cveresult .Mui-selected {
	background-color: #027ae2;
	color: #fff;
}
.vuldb-login .cvesearchcenter .MuiTypography-h6{font-size: 13px;}
.vuldb-login .cvesearchcenter .MuiTableRow-root {
	cursor: pointer;
}
.vuldb-login .cveresult .MuiTableContainer-root{overflow: visible;}
.vuldb-login .cveresult .Mui-selected,.cveresult tr.Mui-selected,.cveresult tr.Mui-selected td:last-child{position: relative;}
.vuldb-login .cveresult tr.Mui-selected td:last-child::after{position: absolute;content: "";width: 31px;height: 60px;right: -24px;top: 0;bottom: 0;margin: auto; width: 0; height: 0;border-top: 18px solid transparent;border-bottom: 18px solid transparent;border-right: 22px solid #027ae2;}
.vuldb-login .snapshot-content.description{
width:100% !important;
}

@media only screen and (min-width:1700px){

.vuldb-login .cvesearchcenter .MuiTableCell-root{padding: 20px}
.vuldb-login td.MuiTableCell-root.MuiTableCell-body.loading-cell {
    padding: 0px 5px;
}
.vuldb-login .cvesearchcenter .MuiTableCell-root,.cvesearchcenter .MuiTypography-h5{  font-size: 15px; }

.vuldb-login .scoreblock-inner > div{font-size: 16px;}

}

@media only screen and (max-width:1400px){

.vuldb-login .cvesearchcenter .MuiTableCell-root{padding: 12px 10px;font-size: 13px;}

.vuldb-login .cvesearchcenter .MuiTypography-h5{font-size: 13px;}

.vuldb-login .cvesearchleft .MuiTypography-h3,.boxdetailtitle h2{font-size: 16px;}

.vuldb-login .cvesearchleft .MuiListItem-root .MuiListItemText-root .MuiTypography-body1{font-size: 16px;}
.vuldb-login .niahmeterleft h2,.vuldb-login .niahinsightlist .MuiTypography-displayBlock,.vuldb-login .snapshotlist .MuiTypography-root > div,.boxtitlecontent.explo-list .MuiExpansionPanelSummary-content h2{font-size: 14px;}
.vuldb-login .MuiExpansionPanelSummary-root{padding: 0px 15px;}
.vuldb-login .scoreblock-inner > div{font-size: 12px;}

}