.drawer {
    flex-shrink: 0;
  }
  .open_vulnerabilities tbody.MuiTableBody-root {
      background-color: #fff;
  }
  
.open_vulnerabilities .cvesearchright-inner{background: #fff;padding: 15px;}
.open_vulnerabilities .cvesearchtopheader{background: #fff;padding: 15px;box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 2px 0 rgba(63,63,68,0.15);}

.open_vulnerabilities .cvesearchright {    
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  bottom: 0;
  padding: 0 !important;
height:100%}

.open_vulnerabilities .cvesearchright .cvesearchright-inner {
  height: calc(100% - 0px);
  overflow-y: scroll;
}


.open_vulnerabilities  .cvesearchright-inner button.MuiButtonBase-root{justify-content: start;margin-bottom: 20px;}
.open_vulnerabilities .cvesearchright-inner > div:last-child .boxdetailhead{border:0px; }
.open_vulnerabilities  .boxdetailhead{padding-bottom: 30px;margin-bottom: 0px;border-bottom:1px solid #e6e9ef;}
.open_vulnerabilities  .boxdetailtitle{background: none;}
.open_vulnerabilities  .boxdetailtitle h2{font-size: 16px;text-align: left;color: #333;margin-bottom: 05px;font-weight: 600;}
.open_vulnerabilities  .boxtitlecontent{border:1px solid #b7c3d0;border-radius: 10px; }
.open_vulnerabilities  .meterright{text-align: right;}
.open_vulnerabilities .boxdetailhead .boxtitlecontent .meter{margin-bottom: 0;}
.open_vulnerabilities  .meter .meterleft{align-self: center;}
.open_vulnerabilities .boxtitlecontent ul.niahinsightlist li{padding-left: 0;padding-right: 0;}
.open_vulnerabilities .cvesearchright-inner > div{background: none !important;}


.open_vulnerabilities .cvesearchright-inner > div{background: #f4f6fa;border-radius: 10px;margin-bottom: 15px;}


.open_vulnerabilities .cvesearchright-inner .boxtitlecontent > div{padding:10px 15px;margin-bottom: 15px;}
/*.open_vulnerabilities .cvesearchright-inner .boxtitlecontent > div.scoreblock-div{border-bottom: 1px solid #dde4ee;}*/
.open_vulnerabilities .scoreblock-div{display: flex;}
.open_vulnerabilities .scoreblock {padding:0 5px;}
.open_vulnerabilities .scoreblock-inner{display: table;width: 100%;height: 45px;border-radius: 5px;background: #fff;  }
.open_vulnerabilities .scoreblock-inner > div{display: table-cell; vertical-align: middle;padding: 5px;font-size: 14px; font-weight: 600; text-align: center;}
.open_vulnerabilities .scoretitle{border: 1px solid #d0d8e5;border-radius: 3px 0 0 3px; color: #333;}
.open_vulnerabilities .scorevalue{background: #027ae2; color: #fff;border-radius: 0px 3px 3px 0px;}

.open_vulnerabilities .meterleft h2{font-size: 16px;font-weight: 600;margin-bottom: 10px;}
.open_vulnerabilities .meterleft h2 a{text-decoration: none;color: #e43838} 

.open_vulnerabilities .boxtitlecontent .insightlist .MuiListItem-gutters{padding: 0px 0 15px 0;}
.open_vulnerabilities .boxtitlecontent .insightlist .MuiListItem-gutters:last-child{padding-bottom: 0;}
.open_vulnerabilities .boxtitlecontent .insightlist .MuiListItem-gutters .MuiSvgIcon-root{color: #333;}
.open_vulnerabilities .insightlist .MuiTypography-displayBlock{font-size: 12px;color: #333;font-weight: 400;}

.open_vulnerabilities .loading-cell{padding: 10px;}
.open_vulnerabilities .boxtitlecontent .snapshotlist .MuiListItem-gutters{padding: 0px 0 5px 0;;}
.open_vulnerabilities .snapshotlist .MuiTypography-root > div{width: 100%;font-size: 14px; color: #333;font-weight: 500;display: inline-block;vertical-align: top;}


.open_vulnerabilities .boxtitlecontent.explo-list{padding: 10px 15px;}
.open_vulnerabilities .boxtitlecontent.explo-list .MuiExpansionPanelSummary-content h2{font-size: 17px;font-weight: 600;}
.open_vulnerabilities .boxtitlecontent.explo-list .MuiExpansionPanelDetails-root .MuiTypography-root a{padding-bottom: 10px;word-break: break-all;}
.open_vulnerabilities .cveresult .Mui-selected {
	background-color: #027ae2;
	color: #fff;
}
.open_vulnerabilities .cvesearchcenter .MuiTypography-h6{font-size: 14px;}
.open_vulnerabilities .cvesearchcenter .MuiTableRow-root {
	cursor: pointer;
}
.open_vulnerabilities .cveresult .MuiTableContainer-root{overflow: visible;}
.open_vulnerabilities .cveresult .Mui-selected,.cveresult tr.Mui-selected,.cveresult tr.Mui-selected td:last-child{position: relative;}
.open_vulnerabilities .cveresult tr.Mui-selected td:last-child::after{position: absolute;content: "";width: 31px;height: 60px;right: -24px;top: 0;bottom: 0;margin: auto; width: 0; height: 0;border-top: 18px solid transparent;border-bottom: 18px solid transparent;border-right: 22px solid #027ae2;}
.open_vulnerabilities .snapshot-content.description{
width:100% !important;
}


.open_vulnerabilities .niahinsightlist span {
	font-size: 14px;
    color: #333;
    font-weight: 500;
}


.MuiButton-label {
  justify-content: center;
}