.flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.justifyAround {
  justify-content: space-around !important;
}

.language-icon {
  margin-top: -66px;
  margin-left: -35px;
}