.cve-product-table {margin-bottom: 30px;}
.paper {
  padding: 10px;
}

.paper-border {
  overflow: inherit;
  margin-top: 16px;
  border: 1px solid;
  border-color: #de2546;
}
.base-score {
  display: inline;
  background: #3a75f9;
  color: white;
  padding: 5px;
}

.base-score-value {
  display: inline;
  background: #f93a43;
  color: white;
  padding: 5px;
  margin-left: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.secondaryText {
    color: inherit;
    display: inline;
    text-transform: capitalize;
}

.right-p {
  margin-top: 18px;
}
body,.makeStyles-wrapper-8{background: #fafafc !important;}
.mb-5{margin-bottom: 50px;}
.mb-3{margin-bottom: 30px;}
.cve-detail-main {margin-top: 20px;margin-bottom: 20px;}
.box-shadow{box-shadow: 4px 0px 54px rgba(0,0,0,0.1);}
.datepub-block > div{padding: 10px;border-radius: 5px;}
.datepub-block > div > div{align-self: center;}
.pubdate-title h2{color: #333333;font-size: 30px;font-weight: 600;margin-bottom: 15px; letter-spacing: 0.75px;}
.pubdate-title span{color: #333333;font-size: 18px;font-weight: 600;letter-spacing: 0.75px;}

.pubdate-button h5{display: inline-block;vertical-align: middle;text-align: center;font-size: 19px;padding: 8px 20px;border-radius: 8px;background: #f3f3f3;border: 1px solid #dce0f1;color: #333;letter-spacing: 0.75px;font-weight: 600;min-width: 225px;margin-right: -10px;}
.pubdate-button h5.acce-vact{color: #fff;background: #027ae2;position: relative;border-color: #027ae2; }

.baseScore-block .baseScore-block-inner{border: 1px solid #e7e8ee;border-radius: 8px; overflow: hidden;box-shadow: 0 5px 32px 0 rgba(0,0,0,0.05) ;padding: 0;margin: 0;}
.baseScore-box{text-align: center;}
.baseScore-box .baseScore-block-title{font-family: "Montserrat",sans-serif !important;color: #fff;font-size: 16px;letter-spacing: 0.75px;padding: 10px;background: #027ae2;border-radius: 8px 8px 0 0;font-weight: 600;}

.baseScore-box .base-score-value{background: none;font-size:16px;letter-spacing: 0.75px;font-weight: 600;color: #333;display: inline-block;padding: 20px 10px;}


.cve-descp h5,.cve-title h5,.cve-detail-main h5 {font-size: 16px;color: #333;letter-spacing: 0.75px;margin-bottom: 15px;font-weight: 600;}
.cve-descp p{font-size: 14px;color: #444444;letter-spacing: 0.2px;line-height: 30px;font-weight: 500;}
.cve-product-table h6 {font-size: 16px;color: #333;letter-spacing: 0.75px;margin-bottom: 5px;font-weight: 600;}
/*.cve-product-table table{border: 1px solid #d6d6d7 !important;}*/
/*.cve-product-table table thead tr td,.cve-product-table table thead tr th{background: #e8e7ea;color: #333333 !important;font-size: 18px !important; border-bottom: 0 !important;}
.cve-product-table table thead tr th{background: #e8e7ea;border-bottom: 1px solid #d6d6d7 !important;}*/

.accordian-block {background: #f3f3f3;box-shadow: none;margin-bottom: 15px;}
.accordian-block:before{display: none;}
.accordian-block #references-header{border: 0;padding: 0 15px 0 50px;min-height: 66px;}

.accordian-block #references-header .MuiTypography-h3{font-size: 14px;font-weight: 600;letter-spacing: 0.75px;}
.accordian-block #references-header.Mui-expanded .MuiTypography-h3{color: #027ae2;}
.accordian-block .MuiIconButton-edgeEnd{position: absolute;left: 0;top: 10px;}
.accordian-block .MuiSvgIcon-root{color: #027ae2;}

.accordian-block tr th,.accordian-block tr td{border: 4px solid #f3f3f3; font-size: 18px; color: #333;font-weight: 500;}
.accordian-block tr th {font-weight: 600;}
.accordian-block .MuiPaper-root{box-shadow: none;}

/*.cve-product-table > div{background: #f3f3f3;}*/
/*.cve-product-table > .MuiPaper-root{padding: 10px 15px;}*/
/*.cve-product-table h6.MuiTypography-h6{font-size: 18px;font-weight: 600;letter-spacing: 0.75px;color: #333;}*/

/*.cve-product-table .MuiTextField-root{min-width: 500px;
padding-left: 16px;
height: 50px;}*/
.cve-product-table .MuiInput-root{height: 42px;padding: 10px;border: 0;}
.cve-product-table .MuiInput-root:before{display: none;}

.cve-product-table > [class*='MuiPaper-root'] > [class*='MuiToolbar-root']{
    background: #f6f8fa;
    border-bottom: 1px solid #e1e4e8;
    padding: 10px 15px;
}
.cve-product-table [class*='MuiFormControl-root'] {
    border: 1px solid #c5c5c5;
    padding: 5px 10px;
    border-radius: 50px;
}

.cve-product-table table tr th {
    border-bottom: 1px solid #e1e4e8 !important;
    background: none;
}
.cve-product-table table tr td {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 10px 20px !important;
}
.cve-product-table table tr:hover {
    background: #F6F8FA;
}

.cve-product-table table tr th {
    font-size: 15px !important;
    font-weight: 600 !important;
    padding: 10px 20px !important;
}