.root {
  flexgrow: 1;
  width: "100%";
  backgroundcolor: "inherit";
}

.header1 {
  display: flex;
  justify-content: space-between;
}

.header2 {
  display: flex;
}

.MuiExpansionPanelSummary-content {
  display: block;
}

.updated-detail {
  margin: 10px 10px 0 0;
}

.right-arrow-icon {
  margin-top: 15px;
}

/*.bold-font {
  font-weight: bold !important;
}*/

.bold-font .MuiCardHeader-title {
  font-weight: bold !important;
}
