
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

img{
  max-width:100%;
}
.details-header {
  display: inline;
  color: #263238;
  font-size: 16px;
  font-family: "Montserrat",sans-serif !important;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.05px;
  text-transform: capitalize;
  margin-right: 3px;
  color: rgb(96, 109, 187);
}

.secondary {
  font-size: 13px !important;
  font-family: "Montserrat",sans-serif !important;
  /* line-height: 1.42857143' */
}

.spaceBetween {
  display: flex !important;
  justify-content: space-between !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}

.margin-general {
  margin: 15px 0px 5px 15px !important;
}

.panelMainDiv {
  border: 1px solid;
  border-bottom: 0px;
  border-radius: 5px;
  padding: 5px;
}

.panelMainDiv:last-child {
  border-bottom: 1px solid;
}

.paper {
  padding: 10px;
  text-align: "left";
  overflow: "auto";
}

.red-font {
  color: red !important;
  font-size: 18px !important;
  font-family: "Montserrat",sans-serif !important;
}

.divider {
  margin-bottom: "5px";
}

.odd-even-background:nth-of-type(odd) {
  background: #e7e7ef;
}

.severity-div {
  text-align: center;
  padding: 5px;
  width: fit-content;
}

.background-shadow {
  background: linear-gradient(60deg, #ec407a, #d81b60);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
  color: white;
}

.background-margin {
  width: fit-content;
  padding: 8px;
  margin-top: -20px;
  margin-left: -13px;
  height: fit-content;
}

.bannerBox .bannerContainer{
  padding:0;
}
.bannerBox .bannerContent{
  max-width:475px;
  width:100%;
  float: right;
  text-align: initial;
}
.bannerBox label + .MuiInput-formControl{
  margin-top:0;
}
.bannerBox .MuiInputBase-input{
  color: #333 !important;
}
.bannerBox .MuiInput-underline:before,
.bannerBox .MuiInput-underline:after{
  border: none !important;
}
button{
  cursor: pointer;
}
button:focus{
  outline:0;
}
.gridBox-Container .gridBox {
  padding:0 8px !important;
}
.gridBox-Container .gridBox h4{
    padding-top:16px;
    position: relative;
    margin-bottom:15px;
}
.gridBox-Container .gridBox h4:before{
    content: '';
    width:50px;
    height:2px;
    position: absolute;
    top:0;
    left:0px;
}
.gridBox-Container .gridBox:first-child h4:before{
    background:#00d1ce;
}
.gridBox-Container .gridBox:nth-child(2) h4:before{
    background:#fe0a7b;
}
.gridBox-Container .gridBox:nth-child(3) h4:before{
    background:#ff9f00;
}
.gridBox-Container .gridBox:nth-child(4) h4:before{
    background:#027de7;
}

.price-top{
  display: flex;
}
.price-top img{
  box-shadow: 4px 0px 81px rgba(43, 40, 30, 0.11);
}
.price-top .right-content{
  width:calc(100% - 75px);
  padding-left:25px;
  font-size:14px;
  color: #484848;
}
.price-top .right-content h3{
  font-size:16px;
  color: #333;
  font-weight: 700;
  letter-spacing:0.8px;
}
.price-top .right-content .price-tag{
  font-size:26px;
  font-weight: 600;
  letter-spacing:0.8px;
  color: #333; 
}
.services-list{
  padding:0;
}
.services-list li {
  padding: 0;
  margin-bottom: 20px;
  color: #444;
}
.services-list li img{
  margin-right:15px;
}
.services-list li > div{
  margin:0;
}
.services-list li > div span{
  font-size: 15px;
  font-weight: 500;
}
.countryDropdown select,.RegionDropdown select{border: 1px solid rgba(0, 0, 0, 0.26);padding: 18.5px 14px;font-size: 13px;font-family: "Montserrat",sans-serif !important;font-weight: 400;line-height: 1.1876em;border-radius: 4px;width: 100%;height: 55px;}
.countryDropdown select:hover,.RegionDropdown select:hover{border-color: #263238;}
.countryDropdown select:focus,.RegionDropdown select:focus{border-color: #3949ab;box-shadow: 0 0 4px 0 #3949ab  }

.head-inner-title h3 {
    font-size: 22px;
    color: #666666;
    font-weight: 600;
}


.cve-searchbtn .MuiInput-underline:before, .cve-searchbtn .MuiInput-underline:after {
    border: none !important;
}
.menu-right-info {
    background-color: #FF0476 !important;
    margin-right: 20px;
    height: 30px !important;
    width: 30px !important;
    font-size: 15px !important;
    border: 2px solid #fff;
}
.logo-beta .MuiBadge-badge {
  color: #fff;
    background-color: #FF0476;
    border-radius: 0px;
    top: 2px;
    right: -8px;
}


.account-image-block{position: relative;}
.account-image-block .camera-icon{position: absolute;top: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%); left: 50%;z-index: 1;opacity: 0;transition: all ease 0.5s;-webkit-transition: all ease 0.5s;-ms-transition: all ease 0.5s;}

.camera-icon svg{fill: #fff;font-size: 45px;} 

.account-image-block:hover .camera-icon{opacity: 1;}
.upload-image{position: relative;cursor: pointer;}
.upload-image:after{position: absolute;content: "";background:rgba(0,0,0,0.5);top: 0;bottom: 0;left: 0;right: 0;border-radius: 100%;opacity: 0;  }
.account-image-block:hover .upload-image:after{opacity: 1;} 

.login-logo-bedge + span.MuiBadge-badge,.dashboard-logo + span.MuiBadge-badge{right: -25px;top: -5px;}


.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 10px !important;
}

.class-vulDB .dashboardsearch {
  display: none;
}




.vuldb-login .MuiGrid-root.cvesearchright{position: fixed;top: 0;right: 0;z-index: 9999;bottom: 0;padding: 0 !important;}
.vuldb-login .cvesearchright .cvesearchright-inner{height: calc(100% - 0px);overflow-y: scroll;}
.vuldb-login .cvesearchright .cvesearchright-inner button.MuiButtonBase-root{justify-content: start;margin-bottom: 5px;}
.vuldb-login .cvesearchright .cvesearchright-inner > div:last-child .boxdetailhead{border:0px; }
.vuldb-login .cvesearchright .boxdetailhead{padding-bottom: 30px;margin-bottom: 0px;border-bottom:1px solid #e6e9ef;}
.vuldb-login .cvesearchright .boxdetailtitle{background: none;}
.vuldb-login .cvesearchright .boxdetailtitle h2{font-size: 16px;text-align: left;color: #333;margin-bottom: 05px;}
.vuldb-login .cvesearchright .boxtitlecontent{border:1px solid #e6e9ef;border-radius: 10px; }
.vuldb-login .cvesearchright .meterright{text-align: right;}
.vuldb-login .cvesearchright .boxdetailhead .boxtitlecontent .meter{margin-bottom: 0;}
.vuldb-login .cvesearchright .meter .meterleft{align-self: center;}
.vuldb-login .cvesearchright .boxtitlecontent ul.niahinsightlist li{padding-left: 0;padding-right: 0;}
.vuldb-login .cvesearchright-inner > div{background: none !important;}

.vuldb-front .MuiGrid-root.cvesearchright{position: fixed;top: 0;right: 0;z-index: 9999;bottom: 0;padding: 0 !important;}
.vuldb-front .cvesearchright .cvesearchright-inner{height: calc(100% - 0px);overflow-y: scroll;}
.vuldb-front .cvesearchright .cvesearchright-inner button.MuiButtonBase-root{justify-content: start;margin-bottom: 5px;}
.vuldb-front .cvesearchright .cvesearchright-inner > div:last-child .boxdetailhead{border:0px; }
.vuldb-front .cvesearchright .boxdetailhead{padding-bottom: 30px;margin-bottom: 0px;border-bottom:1px solid #e6e9ef;}
.vuldb-front .cvesearchright .boxdetailtitle{background: none;}
.vuldb-front .cvesearchright .boxdetailtitle h2{font-size: 16px;text-align: left;color: #333;margin-bottom: 05px;}
.vuldb-front .cvesearchright .boxtitlecontent{border:1px solid #e6e9ef;border-radius: 10px; }
.vuldb-front .cvesearchright .meterright{text-align: right;}
.vuldb-front .cvesearchright .boxdetailhead .boxtitlecontent .meter{margin-bottom: 0;}
.vuldb-front .cvesearchright .meter .meterleft{align-self: center;}
.vuldb-front .cvesearchright .boxtitlecontent ul.niahinsightlist li{padding-left: 0;padding-right: 0;}
.vuldb-front .cvesearchright-inner > div{background: none !important;}

.scan-report-list .MuiGrid-root.cvesearchright{position: fixed;top: 0;right: 0;z-index: 9999;bottom: 0;padding: 0 !important;}
.scan-report-list .cvesearchright .cvesearchright-inner{height: calc(100% - 0px);overflow-y: scroll;}
.scan-report-list .cvesearchright .cvesearchright-inner button.MuiButtonBase-root{justify-content: start;margin-bottom: 5px;}
.scan-report-list .cvesearchright .cvesearchright-inner > div:last-child .boxdetailhead{border:0px; }
.scan-report-list .cvesearchright .boxdetailhead{padding-bottom: 30px;margin-bottom: 0px;border-bottom:1px solid #e6e9ef;}
.scan-report-list .cvesearchright .boxdetailtitle{background: none;}
.scan-report-list .cvesearchright .boxdetailtitle h2{font-size: 16px;text-align: left;color: #333;margin-bottom: 05px;}
.scan-report-list .cvesearchright .boxtitlecontent{border:1px solid #e6e9ef;border-radius: 10px; }
.scan-report-list .cvesearchright .meterright{text-align: right;}
.scan-report-list .cvesearchright .boxdetailhead .boxtitlecontent .meter{margin-bottom: 0;}
.scan-report-list .cvesearchright .meter .meterleft{align-self: center;}
.scan-report-list .cvesearchright .boxtitlecontent ul.niahinsightlist li{padding-left: 0;padding-right: 0;}
.scan-report-list .cvesearchright-inner > div{background: none !important;}

.report-issues-tab .MuiGrid-root.report-issuelist-right{position: fixed;top: 0;right: 0;z-index: 9999;bottom: 0;padding: 0 !important;}
.report-issues-tab .report-issuelist-right .cvesearchright-inner{height: calc(100% - 0px);overflow-y: scroll;}
.report-issues-tab .report-issuelist-right .cvesearchright-inner button.MuiButtonBase-root{justify-content: start;margin-bottom: 5px;}
.report-issues-tab .report-issuelist-right .cvesearchright-inner > div:last-child .boxdetailhead{border:0px; }
.report-issues-tab .report-issuelist-right .boxdetailhead{padding-bottom: 30px;margin-bottom: 0px;border-bottom:1px solid #e6e9ef;}
.report-issues-tab .report-issuelist-right .boxdetailtitle{background: none;}
.report-issues-tab .report-issuelist-right .boxdetailtitle h2{font-size: 16px;text-align: left;color: #333;margin-bottom: 05px;}
.report-issues-tab .report-issuelist-right .boxtitlecontent{border:1px solid #e6e9ef;border-radius: 10px; }
.report-issues-tab .report-issuelist-right .meterright{text-align: right;}
.report-issues-tab .report-issuelist-right .boxdetailhead .boxtitlecontent .meter{margin-bottom: 0;}
.report-issues-tab .report-issuelist-right .meter .meterleft{align-self: center;}
.report-issues-tab .report-issuelist-right .boxtitlecontent ul.niahinsightlist li{padding-left: 0;padding-right: 0;}
.report-issues-tab .cvesearchright-inner > div{background: none !important;}


.features-box-row{padding-top: 40px;padding-bottom: 70px;background: #f9f9f9;}
.future-box .MuiBox-root{text-align: center;}
.future-box .MuiBox-root > img{height: 230px;object-fit: contain;display: inline-block;}


.third-featureBox-row {padding-top: 25px;padding-bottom: 25px;}
.third-featureBox > h2.MuiTypography-h2{font-weight: 600;color: #000;}
.third-featureBox-2 .gridBox-Container .gridBox h4:before{display: none !important;}
.third-featureBox-2 .gridBox-Container .gridBox > .MuiBox-root{text-align: center;    padding: 30px;}
.third-featureBox-2 .gridBox-Container .gridBox:first-child > .MuiBox-root{border-top:5px solid #ff9100; }
.third-featureBox-2 .gridBox-Container .gridBox:nth-child(2) > .MuiBox-root{border-top:5px solid #c9e528; }
.third-featureBox-2 .gridBox-Container .gridBox:nth-child(3) > .MuiBox-root{border-top:5px solid #23b2cd; }

.third-featureBox-2 .gridBox-Container .gridBox h4.MuiTypography-colorTextPrimary{font-weight: 500;line-height: 1.5;}

@media only screen and (max-width: 767px) {

.modebar-container {display: none;}

}  



@media(min-width:767px) and (max-width:959px){
  .bannerBox .bannerContent{
    max-width:100%;
  }
  .bannerBox .MuiGrid-grid-xs-12{
    max-width: 50%;
    flex-basis: 50%;
  }
  .gridBox-Container .gridBox{
    margin-bottom:25px;
    max-width:50%
  }
}