.secondary {
  font-size: 13px !important;
  font-family: 'DIN,sans-serif' !important;
  /* line-height: 1.42857143' */
}

.spaceBetween {
  display: flex !important;
  justify-content: space-between !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}

.margin-general {
  margin: 15px 0px 5px 15px !important
 }