.details-header {
  display: inline;
  color: #263238;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.05px;
  text-transform: capitalize;
  margin-right: 3px;
  color: rgb(96, 109, 187);
}

.secondary {
  font-size: 13px !important;
  font-family: 'Montserrat, sans-serif' !important;
  /* line-height: 1.42857143' */
}

.spaceBetween {
  display: flex !important;
  justify-content: space-between !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}

.margin-general {
  margin: 15px 0px 5px 15px !important
 }

 .panelMainDiv {
  border: 1px solid;
  border-bottom: 0px;
  border-radius: 5px;
  padding: 5px;
}

.panelMainDiv:last-child
{
    border-bottom:1px solid;
}

.paper {
  padding: 10px;
  text-align: 'left';
  overflow: 'auto';
}

.red-font {
  color: red !important;
    font-size: 18px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.divider {
  margin-bottom: '5px';
}